/* Element generaux */


body
{
	background-color:#2e2e5d;
}

#main_wrapper
{
	width:	70%;
	margin:	auto;
	padding-bottom:130px;
}

html, body,#main_wrapper{
		height: 100%;
}

body > #main_wrapper
{
	height: auto; min-height: 100%; 
}

/*header*/

header
{
	height: 130px;
	background-color:#797987;
	background-image: url('images/separateur.png') repeat-x bottom; 	
	margin:-10px;
}

header h1
{
	/*font-family: ;	
	font-size: ;
	font-weight;
	*/
	position:relative;
	left:15%;
	font-size:15px ;
	display:inline-block;
}






/*navigation*/


header nav
{
	display: inline-block;
	float:right;
	width: 500px;
	text-align:right;
	position:relative;
	right:15%;
	
}

footer nav
{
	display: inline-block;
	width: 500px;
	position:relative;
	left:15%;
}

#searchbox_header
{
	position:relative;
	top:-35px;
	float:right;
}

#nav_and_search_footer
{
	width:70%;
	position:relative;
	left:5%;
}

#searchbox_footer
{
	float:right;
	margin-top:-10 px;
}

nav ul
{
	position:relative;
	right:12%;
	list-style-type: none;
}

header nav li
{
	display: inline-block;
	margin-right: 15px;	
}

footer nav li
{
	display: inline-block;
	margin-right: 15px;	
}

nav a
{
	color:#505076;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	color:#9393ba;
}

#copyright
{
	width:600px;
	position:relative;
	left:15%;
	font-size:13px;
	margin-left:-5px;
}


/*footer*/

footer{
	clear:both;
	position:relative;
	z-index:10;
	height: 130px;
	background-color:#797987;
	background-image: url('images/separateur.png') repeat-x bottom; 	
	margin:-10px;
	padding-bottom:-30px;
	margin-top:-130px;
}
