#bienvenue
{
	display:inline-block;
	position:relative;
	top:-150px;
	background-color:rgba(0,0,0,0.5);
	color:#9393ba;
	padding-left:25px;
	padding-right:25px;
	padding-top:-10px;
}

#formulaire
{
	display:inline-block;
	position:relative;
	left:25%;
	top:100px;
}

#formulaire label
{
	color:#9393ba;
	margin-bottom:5px;
	/*font-family font-size*/
}

#formulaire.input
{
	position:relative;
	left:15%;
}

#bienvenue h1
{
	color:rgb(102, 204, 51);
}
